*{
  box-sizing: border-box;
}

/* tag selectors */
body {
  font-family: 'Oleo Script Swash Caps', cursive;
  background-color: #FAF3E0;
  margin: 0;
}

/* class selectors */

.main-header{

  background: #111517;
  padding: 0.5rem 1rem;
  text-align: center;
}

.main-header-logo{
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin-right: 15%;
}

.main-header-logo__brand{
  color: #EABF9F;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}

.main-header-logo__age{
  color: rgb(215, 122, 106);
}

.main-nav{
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  margin-left: 15%;
}

.main-nav__items{
  display: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__item{
  display: inherit;
  margin: 0 1rem;
}

.main-nav__item a{
  text-decoration: none;
  font-size: 1.5rem;
  color: #EABF9F;
  padding-bottom: 0.5rem;
}

.main-nav__item a:hover,
.main-nav__item a:active{
  color: rgb(215, 122, 106);
  border-bottom: solid rgb(215, 122, 106) 0.3rem;
}

.main-section-img{
  text-align: center;
  margin: 6rem 0;
  padding: 0 2rem;
}
.love-cake{
  width: 100%;
}
